*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body,input,button,select,textarea{
	font:400 1rem Roboto;
	color: #222222;
}
a{
	text-decoration: none;
	color: grey;
}
body
{
	width: 100%;
	min-height: 100vh;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
section{
    padding: 2rem 7rem;
}
h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2196f3;
}
/* Navbar */
.logo
{
    font-weight: 500;
    margin: 0 0.5rem;
    color: #f3f3f3;
    font-size: 1.5rem;
    cursor: pointer;
}
.logo span
{
    background: #ffc107;
    padding: 0.3rem;
    border-radius: 0.6rem;
    color: white;
    margin: 0 0.2rem;
    font-weight: 500;
    font-size: 1.4rem;
    vertical-align: revert;
}
.error
{
    font-size: 0.9rem;
    text-align: left;
    color: #f44336;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

/* Navbar Styling Starts */
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #505050;
    padding: 1rem 10rem;
}
.searchbox
{
    width: 50%;
    position: relative;
}
.searchbox i
{
    position: absolute;
    color: #A5A3AD;
    font-size: 1rem;
    top: 0.5rem;
    left: 1rem;
}
.searchbox input
{
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 0.1rem;
    border: none;
    outline: none;
    width: 95%;
    margin: 0 0.5rem;
}
.buttonbox
{
    display: flex;
    align-items: center;
}
.buttonbox button
{
    padding: 0.5rem;
    border: none;
    outline: none;
    font-size: 0.9rem;
    margin: 0 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    white-space: nowrap;
}
.buttonbox button i
{
    font-size: 1.1rem;
    margin-right: 0.3rem;
}
.sec-btn
{
    background: none;
    color: #f1f1f1;
}



/* Top links */
.toplinks
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 6rem;
    box-shadow: 0px 1px 2px #86868699;
}
.toplinks a
{
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0.5rem;
    white-space: nowrap;
}
/* Courses Section  */
.courses-box
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.courses .each-course{
    padding: 0.7rem;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.courses h3{
    color: #3b3939;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 0.2rem;
    height: 3rem;
    overflow: hidden;
}
.courses p.price{
    margin-bottom: 0.4rem;
    font-weight: 600;
    font-size: 1.4rem;
    color: #171717;
}
.courses p.educator{
    font-size: 1rem;
    font-weight: 500;
    color: #a1a1a1;
    margin-bottom: 0.3rem;
}
.courses img{
    width: 100%;
}
.courses .stars-box{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.courses .stars-box{
    color: #010101;
    font-weight: 500;
}
.courses .stars-box i{
    color: #ffc107;
}
.courses button{
    width: 100%;
    background: #2196f3;
    color: white;
    border: none;
    padding: 0.6rem;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s ease-in;
}
.courses button:hover{
    transform: scale(1.02);
    background: #70b8f1;
}
/* Testimonial  */
.testimonial .review-box{
    display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 2rem;
padding-top: 2rem;
}
.testimonial .each-review{
    background: #fff59d;
    color: #535353;
    line-height: 1.5;
    padding: 2rem 1rem 1rem;
    position: relative;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border-radius: 5px;
}
.each-review .fa-paperclip{
    position: absolute;
    top: -19px;
    left: 10px;
    font-size: 3rem;
    transform: rotate(45deg);
}
.each-review span.fa-stack{
    position: absolute;
    left: 50%;
    top: -22px;
    transform: translateX(-50%);
}
.each-review span .fa-circle{
    color: #607d8b;
}
.each-review p.review{
    margin-bottom: 1rem;
    font-style: italic;
    color: #7d7d7d;
    line-height: 1.7;
    height: 7rem;
    overflow: hidden;
}
.each-review .user-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.each-review .profile-image{
    width: 2rem;
    height: 2rem;
    background: #2196f3;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: white;
}
.each-review .user-box p{
    color: #616161;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* .FAQ Section  */
.faq .each-question{
    max-width: 45rem;
    margin-bottom: 1rem;
}
.faq .question-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c8c8c8;
    padding: 0.4rem 1rem;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 0.5rem;
}
.faq i{
    transition: 0.2s ease-out;
}
.faq i.open{
    transform: rotate(180deg);
}
.faq h4{
    font-weight: 500;
    color: #505050;
}
.faq .ans-box{
    display: none;
    padding-left: 1rem;
    color: #a09d9d;
    text-align: justify;
}
/* .free class box  */
.free-class{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 0;
}
.free-class p{
    color: #6a6565;
}
.free-class p.msg{
    color: #c5c5c5;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.free-class form{
    display: flex;
    justify-content: center;
}
.free-class select{
    padding: 0.5rem;
    border: 1px solid #c6c6c6;
    border-right: 0;
    border-radius: 8px 0 0 8px;
}
.free-class input{
    padding: 0.5rem;
    border: 1px solid #c6c6c6;
    border-right: 0;
}
.free-class button{
    padding: 0.5rem 1rem;
    color: white;
    background: #2196f3;
    border: none;
    text-transform: uppercase;
    border-radius: 0 8px 8px 0;
}
.free-class i{
    color: #2196f3;
    font-size: 1.4rem;
}
.free-class span{
    display: inline-flex;
    color: #cdbdbd;
    margin-bottom: 0.5rem;
}
.free-class span.or::before,.free-class span.or::after{
    content: "";
    width: 60px;
    position: relative;
    top: 9px;
    background: #cdbdbd;
    height: 1px;
    border-radius: 2px;
}
.free-class span.or::before{
    right: 13px;
}
.free-class span.or::after{
    left: 13px;
}
.free-class .other-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.free-class .each-contact{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
/* Sitemap Styling  */
.sitemap
{
    background: #333333;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
}
.sitemap>div
{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
.sitemap .topline
{
    margin-bottom: 3rem;
}
.linkbox .eachcol
{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    flex: 1;
}
.linkbox .category
{
    flex:2;
}
.linkbox .category .links
{
    flex-direction: row!important;
}
.linkbox .category .links div
{
    display: flex;
    flex-direction: column;
}
.linkbox .category .links .col1{
    margin-right: 7rem;
}
.linkbox .eachcol h5
{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.linkbox .eachcol .links
{
    display: flex;
    flex-direction: column;
}
.linkbox .eachcol .links a
{
    color: #e0e0e0;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}
.sitemap .bottomline
{
    align-items: center;
    margin-bottom: 0;
}
.bottomline>div
{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
.newsletterbox
{
    flex-direction: column;
    color: #e8e8e8;
    align-items: baseline;
}
.newsletterbox p
{
    margin-bottom: 0.5rem;
}
.newsletterbox p i
{
    font-size: 1.4rem;
    margin-right: 0.5rem;
}
.newsletterbox .newsform
{
    width: 100%;
}
.newsletterbox .newsform form{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsletterbox .newsform input
{
    padding: 0.5rem;
    font-size: 0.9rem;
    width: calc(100% - 120px);
    border-radius: 0.4rem;
    outline: none;
}
.newsletterbox .newsform button
{
    padding: 0.5rem;
    font-size: 1.2rem;
    background: #2196f3;
    color: white;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    width: 7rem;
    cursor: pointer;
}
.bottomline .apps
{
    justify-content: center;
}
.apps button
{
    padding: 0.7rem 1.5rem;
    margin: 0.5rem;
    outline: none;
    border: none;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    color: #252525;
    background: white;
}
.apps .android
{
    background: none;
    border: 1px solid white;
    color: white;
}
.apps button i{
    margin-right: 0.3rem;
    font-size: 1.3rem;
}

/* Footer Design  */
footer
{
    background: #231F20;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 15rem;
}
footer p
{
    cursor: pointer;
    font-weight: 400;
}
footer .fa-stack
{
    transform: scale(0.9);
    transition: 0.4s ease-in;
}

/* Social Links  */
footer .fa-stack-2x
{
    color: #f9f9f9;
    transition: 0.4s ease-in;
}
footer .fa-stack-1x
{
    color: #020202;
    font-size: 1.2rem;
    transform: translateY(1px);
    transition: 0.2s ease-in;
}
footer .fa-stack:hover
{
    transform: scale(1.1);
}
.fa-stack:hover , .fa-stack:hover .fa-stack-1x
{
    color:white;
}
.ig:hover , .ig:hover .fa-circle
{
    color:#e91e63;
}
.fb:hover , .fb:hover .fa-circle
{
    color:#3f51b5;
}
.yt:hover , .yt:hover .fa-circle
{
    color:#f44336;
}
.tw:hover , .tw:hover .fa-circle
{
    color:#2196f3;
}


/* For Responsiveness */
@media only screen and (max-width: 1200px){
    nav{
        padding: 1rem 5rem;
    }
    .toplinks
    {
        padding: 0.9rem 1rem;
    }
    .toplinks a
    {
        font-size: 0.8rem;
        margin: 0 0.3rem;
    }
    .mainmovie .mdesc
    {
        padding: 1rem 2rem 1rem 1rem;
    }
}
@media only screen and (max-width: 1000px){
    nav
    {
        flex-direction: column;
    }
    nav .searchbox
    {
        margin: 1rem 0;
    }
    .bottomline .apps
    {
        flex-direction: column;
    }
    .sitemap
    {
        padding: 3rem 2rem;
    }
    footer
    {
        padding: 0.5rem 2rem;
    }
    .toplinks
    {
        flex-wrap: wrap;
        justify-content: center;
    }
    .toplinks a
    {
        margin: 0.3rem;
    }
    .eachmovie img {
        width: 13rem;
        height: 18rem;
    }
    .eachmovie .desc
    {
        width: 13rem;
    }
    .mainmovie .mimg
    {
        width: 35%;
    }
    .mainmovie .actorsdiv
    {
        justify-content: center;
    }
}
@media only screen and (max-width: 800px){
    .signinbox
    {
        width: 100%;
        margin: 0;
        align-items: center;
    }
    nav .searchbox
    {
        width: 100%;
    }
    .moviearea {
        padding: 5rem 0.5rem;
    }
    .eachmovie
    {
        margin: 0.5rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    }
    .eachmovie img {
        width: 10rem;
        height: 14rem;
    }
    .eachmovie .desc
    {
        width: 10rem;
    }
    .desc h3 {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        height: 2.5rem;
    }
    .ratingrelease .release
    {
        font-size: 0.8rem;
    }
    .desc .overview {
        font-size: 0.8rem;
        height: 2rem;
    }
    .ratingrelease .rating {
        font-size: 1.1rem;
    }
    .mainmovie .mimg {
        width: 100%;
        position: absolute;
        z-index: 1;
        height: calc(100vh - 131px);
    }
    .mainmovie .mdesc
    {   
    z-index: 2;
    backdrop-filter: brightness(0.2) blur(2px);
    padding: 2rem 3rem 2rem 2rem;
    }
    .comments
    {
        justify-content: center;
    }
    .mainmovie .close
    {
        color: #c7c7c7;
    z-index: 3;
    }
    .mainmovie .moverview {
        color: #d4d4d4;
    }
    .mainmovie .eachdata p {
        color: #d2d2d2;
    }
}
@media only screen and (max-width: 500px){
    nav{
        padding: 1rem;
    }
    .formbox
    {
        width: 90%;
        margin: 2rem auto;
        padding: 2rem 1rem;
    }
    .sitemap>div
    {
        flex-direction: column;
    }
    .linkbox .eachcol
    {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .sitemap {
    padding: 3rem 1rem;
    }
    .newsletterbox
    {
        margin-bottom: 1rem;
    }
    .newsletterbox .newsform,.eachsignin,.bottomline>div,nav .searchbox,.eachinput input
    {
        width: 100%;
    }
    footer {
        padding: 0.5rem 1rem;
        flex-direction: column;
    }
    footer p
    {
        margin-bottom: 0.7rem;
    }
    .eachmovie img {
        width: 15rem;
        height: 19rem;
    }
    .eachmovie .desc
    {
        width: 15rem;
    }
    .mainmoviebox
    {
        padding: 1rem;
    }
    .mainmovie .mdesc,.mainmovie .mimg
    {
        height: calc(100vh - 30px);
    }
    .mainmovie .mdesc
    {
        padding: 1rem 2rem 1rem 1rem;
    }
    .ratingbox .starform
    {
        flex-direction: column;
    }
}